@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&display=swap');

*{
    margin: 0;
    border: none;
    padding: 0;
}

/* list reordering */

.flexbox {
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
}

/* menu styling */

#menu {
    text-transform: capitalize;
    list-style-type: none;
    color:#396e9e;
}

#menu li {
    font-family: corinthia, sans-serif;
    line-height: 5rem;
    margin-right: 6rem;
    margin: 20px;
    font-size: 220%;
    font-weight: 700;
}

#menu a {
    text-decoration: none;
    color:inherit;
}

#menu a:hover {
    border-bottom: 0.1rem solid #396e9e;

}

.active {
    border-bottom: 0.1rem solid #396e9e;
}

/* body / background image */

body {
    background-color: ivory;
}