@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&display=swap');

*{
    margin: 0;
    border: none;
    padding: 0;
}

/* list reordering */
#logo {
    margin-left: 20px;
}

.flexbox {
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
}

.flexbox>div{
    background-color: lawngreen;
    color:#396e9e;
    width: 177px;
    margin:10px;
    text-align: center;
}

/* menu styling */

#menu {
    text-transform: capitalize;
    list-style-type: none;
    color:#396e9e;
}

#menu div {
    font-family: corinthia, sans-serif;
    line-height: 5rem;
    margin-right: 6rem;
    margin: 20px;
    font-size: 220%;
    font-weight: 700;
}

#menu a {
    text-decoration: none;
    color:inherit;
}

#menu a:hover {
    border-bottom: 0.1rem solid #1f56a7;

}

.active {
    border-bottom: 0.1rem solid #1f56a7;
}

/* logo style */
 #logo{
    display: flex-start;
    line-height: 5rem;
    margin-left: 6rem;
    margin: 20px;
    font-size: 220%;
    font-weight: 700;
    text-decoration: none;
    list-style-type: none;
    float: inline-start;
}
div #logo {
    font-family: corinthia, sans-serif;
    text-transform: capitalize;
    letter-spacing: 4px;
    color:#396e9e;
}

/* body / background image */

body {
    background-color: ivory;
    background-image: url(../images/istockphoto-949108436-170667a.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}
